github "Qiscus-Integration/QiscusCoreApi" ~> 0.2.3
github "Qiscus-Integration/ios-multichannel-widget" "package-manager"
github "Alamofire/Alamofire" ~> 4.9
github "SwiftyJSON/SwiftyJSON"
github "https://github.com/SDWebImage/SDWebImage.git" ~> 5.1.0